.trendm {
    width: 88%;
   border-radius: 10px;
   font-size: 1.5em;
   text-align: center;
   margin: 15px 100px;
   font-family: fantasy;
   background: radial-gradient(circle, rgb(194, 9, 9) 3%, rgb(1, 1, 21) 100%);
   letter-spacing: 10px;
   color:white;

}
body {
    margin: 0;
    padding: 0;
    background-color: radial-gradient(circle, rgb(238 11 11) 3%, rgb(80, 9, 15) 100%);
}
.main_cat_div{
 
        margin: 0 192px 0 447px;
}


#main_upper_cat{
    /* scroll-margin-right: 20px; */
    padding-right: 2.5%;
    border-left: 10px solid black;
    border-right: 10px solid black;
    padding-bottom: 30px;
    /* overflow-x: auto; */
    white-space: nowrap;
    background: radial-gradient(circle, rgb(238 11 11) 3%, rgb(80, 9, 15) 100%);

    border: 2px solid red;
    height:740px;
}
.movies{
    width: 260px;
    height: 300px;
    margin: 80px 14px;
    border-radius: 8px;
    transition: all 0.2s linear 0s;
    cursor: pointer;
    background: radial-gradient(circle, rgb(255, 234, 74) 40%, #fd6106 100%);
    display: inline-block;
  
  
  }
  
  .movies:hover{
    box-shadow: 0px 0px 15px 0px rgb(15, 0, 6);
    transform: translateY(-3px) ;
    /* background: rgb(232,37,107); */
    background: radial-gradient(circle, rgb(245, 243, 244) 40%, rgb(16, 0, 10) 100%);
    color: rgb(12, 12, 0);
  
  }
  .movies img {
    width: 94%;
    height: 258px;
    margin: 1px 8px;
    border-radius: 9px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #464444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgb(20, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 18, 18);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.movies {
    width: 260px;
    height: 345px;
    margin: 80px 14px;
    border-radius: 8px;
    transition: all 0.2s linear 0s;
    cursor: pointer;
    background: radial-gradient(circle, rgb(255, 234, 74) 40%, #fd6106 100%);
    display: inline-block;
}
.filmName {
    margin: 4px auto;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: math;
    margin-left:3px;
    margin-right:3px;
    color:black;
  }
  a:link{
    color:black;
  }
  a:visited{
    color:black;
  }
.para {
    text-align: center;
}
